* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;

  background: hsl(0, 0%, 8%);
}

.social-links {
  height: 100vh;
  width: 500px;

  background: hsl(0, 0%, 12%);
  border-radius: 1.2rem;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.6rem;

  margin: 3rem auto;
  padding: 1.4rem;
}

.social-links img {
  width: 10rem;

  border-radius: 10rem;
}

.social-links h1 {
  color: hsl(0, 0%, 100%);
  font-size: 1.8rem;
  font-weight: 700;

  margin-top: 1.3rem;
}

.social-links span {
  color: hsl(75, 94%, 57%);
  font-weight: 700;
  font-size: 1.3rem;
}

.social-links p {
  color: hsl(0, 0%, 100%);
  font-size: 1rem;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.links a {
  background: hsl(0, 0%, 20%);

  color: hsl(0, 0%, 100%);
  font-weight: 600;
  text-decoration: none;
  font-size: 1.2rem;

  padding: 1.2rem 4rem;
  width: 100%;

  border-radius: 1rem;

  cursor: pointer;
}

.links a:hover {
  background: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
}

.attribution {
  font-size: 0.99rem;
  color: hsl(0, 0%, 100%);
  text-align: center;
}

.attribution a {
  text-decoration: none;
  color: hsl(75, 94%, 57%);

  padding-bottom: 2rem;
}

@media (max-width: 1440px) {
  .social-links {
    height: 100vh;
    width: 400px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.6rem;

    margin: 10rem auto;
  }
}
